$backgroundColor: blanchedalmond;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $backgroundColor;
  height: 100%;

  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  header {
    background: gray;
    border-bottom: 1px solid black;
    color: #eee;
    padding: 0;
    margin: 0;
    text-align: center;
    // h1{
    //   color: whitesmoke;
    // }
  }

  footer {
    background: gray;
    border-top: 1px solid rgb(172, 180, 172);
    padding: 1em 3em;
    margin: 0;
    text-align: center;
  }

  #get, #post, #put, #delete {
    background: rgb(166, 196, 178);
    box-shadow: 5px 10px 15px black;
    border-radius: 100px;
  }  
  #get:hover, #post:hover, #put:hover, #delete:hover {
    background: rgb(166, 196, 178);
    transform: scale(1.1);
  }  
}
